<p-panel header="User Form">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-sm-2">
            <label for="email">Email</label>
          </div>
          <div class="col-sm-3">
            <input type="email" class="form-control" formControlName="email">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2">
            <label for="password">Password</label>
          </div>
          <div class="col-sm-3">
            <input type="password" class="form-control" formControlName="password">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2">
            <label for="repeat_password">Repeat Password</label>
          </div>
          <div class="col-sm-3">
            <input type="password" class="form-control" formControlName="repeat_password">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-3">
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary">
              <i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-info" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>