<p-panel>
  <p-header>
    <div class='row'>
      <div class='col'>
        <h4>Stock Form</h4>
      </div>
      <div class='col'>
        <a routerLink='/pages/stock/table'>
          <button type='button' class='btn btn-primary btn-xs' style='float:right; margin-right:6px;'>
            <i ng-reflect-class-name='fa fa-file-text-o' class='ui-button-icon-left ui-clickable fa fa-fw fa-close'></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class='row'>
    <div class='col-sm-12'>
      <form [formGroup]='formGroup' (ngSubmit)='onSubmit(formGroup.value,$event)' class='form-horizontal'>
        <div class='row'>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class='ui-inputgroup'>
              <label for='code'>Code</label>
              <br/>
              <input type='text' pInputText formControlName='code'>
            </div>
          </div>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <div class='ui-inputgroup'>
              <label for='sellingPrice'>Selling Price</label>
              <br/>
              <input type='number' pInputText formControlName='sellingPrice'>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
              <label for="item">Item</label>
              <br/>
              <p-autoComplete formControlName="item" field="display" [suggestions]="filteredItems" (completeMethod)="filterItems($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onDropdownClick)="handleItemDropdownClick($event)" (onSelect)=" onItemSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </div>
        <br/>
        <div class='row'>
          <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
            <button pButton [disabled]='!formGroup.valid' type='submit' icon='fa-floppy-o' label='Save'></button>
            <button type='button' pButton class='ui-button-secondary' (click)='resetForm()' icon='fa-times' label='Reset'></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>