<p-panel>
  <p-header>
    <div class="row">
      <div class="col">
        <h4>Item Form</h4>
      </div>
      <div class="col">
        <a routerLink="/pages/item/table">
          <button type="button" class="btn btn-primary btn-xs" style="float:right; margin-right:6px;">
            <i ng-reflect-class-name="fa fa-file-text-o" class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></i>
          </button>
        </a>
      </div>
    </div>
  </p-header>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value,$event)" class="form-horizontal">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="code">Code</label>
              <br/>
              <input type="text" pInputText formControlName="code">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="name">Name</label>
              <br/>
              <input type="text" pInputText formControlName="name">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              <label for="itemType">Type</label>
              <br/>
              <p-autoComplete formControlName="itemType" field="display" [suggestions]="filteredItemTypes" (completeMethod)="filterItemTypes($event)"
                [size]="20" [minLength]="1" placeholder="Search" (onDropdownClick)="handleItemTypeDropdownClick($event)" (onSelect)="onItemTypeSelect($event)">
                <ng-template let-option pTemplate="option">
                  <div class="ui-helper-clearfix">
                    <div>{{option.code}} : {{option.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ui-inputgroup">
              &nbsp;
              <br/>
              <button pButton [disabled]="!formGroup.valid" type="submit" icon="fa-floppy-o" label="Save"></button>
              <button type="button" pButton class="ui-button-secondary" (click)="resetForm()" icon="fa-times" label="Reset"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-panel>