@import '~normalize.css';
@import 'theme/theme';

select option {
    background: rgba(0, 0, 0, 1);
    color: white;
	/*font-size:medium;
    font-weight: bold;*/
}

.form-control{
    margin-right:15px;
    margin-bottom:10px;
}

.center {
    text-align: center;
}

.ui-panel-title{
    font-size:20px;
    display:inline-block;
    margin-top:2px;
    padding:5px;
    //background:black;
    color:aliceblue
}

.ui-datatable table {
    table-layout: auto
}

// Styles for Chart Data Table

.chartdata {
  max-width: 100%;
  border-top: none;
}

.chartdata table {
  width: 100%;
  table-layout: fixed;
}

.chartdata table th,
.chartdata table td {
  text-align: center;
  padding: 5px 7px;
}

.chartdata table td {
  border: 1px solid #666666;
}

.chartdata table td.row-title {
  font-weight: bold;
  width: 100px;
}

.chartdata tr:hover td {
  background: #666666;
  cursor: pointer;
}

// end of Styles for Chart Data Table
