<p-panel>
	<p-header>
		<div class="row">
			<div class="col">
				<h4>User List</h4>
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary btn-xs" (click)="dt.exportCSV()" style="float:right; margin-right:6px;">
					<i ng-reflect-class-name="fa fa-file-text-o" class="fa fa-file-text-o"></i> Export</button>
				<button type="button" class="btn btn-primary btn-xs" (click)="navigateToForm(0)" style="float:right; margin-right:6px;">
					<i ng-reflect-class-name="fa fa-pencil-square-o" class="fa fa-pencil-square-o"></i> Add</button>
			</div>
		</div>
	</p-header>
	<p-dataTable #dt [value]="rows" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="totalRecords" [lazy]="true"
	 (onLazyLoad)="lazy($event,dt)" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple"
	 resizableColumns="true" exportFilename="users" [globalFilter]="gb" (onRowDblclick)="onRowDblclick($event.data)">
		<p-column field="id" header="ID"></p-column>
		<p-column field="email" header="Email" [sortable]="true"></p-column>
		<p-column field="team.name" header="Team" [sortable]="true"></p-column>
		<p-column field="status.name" header="Status" [sortable]="true"></p-column>
		<p-column header="Action" styleClass="text-right">
			<ng-template let-data="rowData" pTemplate="body">
				<a [routerLink]="'/pages/user/form/'+data.id">
					<i ng-reflect-class-name="fa fa-pencil-square-o" class="fa fa-pencil-square-o"></i>
				</a>
				&nbsp; &nbsp;
				<i (click)="delete(data.id)" ng-reflect-class-name="fa fa-trash-o" class="fa fa-trash-o"></i>
			</ng-template>
		</p-column>
	</p-dataTable>
</p-panel>