<p-panel header="Permission Form">
    <div class="row">
        <div class="col">
            <div class="ui-inputgroup">
                User
                <p-autoComplete [(ngModel)]="user" field="email" [suggestions]="filteredUsers" (completeMethod)="filterUsers($event)" [size]="30"
                    [minLength]="1" placeholder="Search" (onDropdownClick)="handleUserDropdownClick($event)" (onSelect)="onUserSelect($event)">
                    <ng-template let-option pTemplate="option">
                        <div class="ui-helper-clearfix">
                            <div>{{option.email}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="col">
            <div class="ui-inputgroup">
                Team
                <p-autoComplete [(ngModel)]="team" field="name" [dropdown]="true" [suggestions]="filteredTeamList" (completeMethod)="filterTeam($event)"
                    [size]="30" [minLength]="1" placeholder="Search" (onDropdownClick)="handleTeamDropdownClick($event)" (onSelect)="onTeamSelect($event)">
                    <ng-template let-option pTemplate="option">
                        <div class="ui-helper-clearfix">
                            <div>{{option.name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="col">
            <div class="ui-inputgroup">
                Status
                <p-autoComplete [(ngModel)]="status" field="name" [dropdown]="true" [suggestions]="filteredStatusList" (completeMethod)="filterStatus($event)"
                    [size]="30" [minLength]="1" placeholder="Search" (onDropdownClick)="handleStatusDropdownClick($event)" (onSelect)="onStatusSelect($event)">
                    <ng-template let-option pTemplate="option">
                        <div class="ui-helper-clearfix">
                            <div>{{option.name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <p-dataTable #dt [value]="menus" [rows]="20" [responsive]="true" [paginator]="true" [totalRecords]="menus.length" [pageLinks]="5"
            [rowsPerPageOptions]="[10,20,50,100,10000]" selectionMode="single" sortMode="multiple" resizableColumns="true" exportFilename="menus"
            [globalFilter]="gb">
            <p-column field="id" header="ID"></p-column>
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="routerLink" header="Router Link" [sortable]="true"></p-column>
            <p-column header="Status" [style]="{'width':'80px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <p-checkbox (click)="onPermissionChanged(data.id)" binary="true" [(ngModel)]="data.isActive"></p-checkbox>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <br/>
</p-panel>